# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
.venv/

# Local dev data
local.db
.dev_secrets.json

# Jupyter
.ipynb_checkpoints

# Virtual env
venv/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
